JobScheduler/bin/Debug/BackgroundScheduling.dll
JobSchedulerTests/bin/Debug/JobSchedulerTests.dll
JobSchedulerTests/bin/Debug/BackgroundScheduling.dll
JobSchedulerTests/bin/Debug/BackgroundScheduling.dll
JobSchedulerTests/bin/Debug/BackgroundScheduling.dll
JobScheduler/bin/Debug/BackgroundScheduling.pdb
JobScheduler/bin/Debug/BackgroundScheduling.pdb
JobScheduler/obj/Debug/BackgroundScheduling.dll
JobScheduler/obj/Debug/BackgroundScheduling.pdb
JobSchedulerTests/bin/Debug/BackgroundScheduling.pdb
JobSchedulerTests/bin/Debug/JobSchedulerTests.pdb
JobSchedulerTests/obj/Debug/JobSchedulerTests.dll
JobSchedulerTests/obj/Debug/JobSchedulerTests.pdb
JobSchedulerTests/obj/Debug/JobSchedulerTests.csproj.FileListAbsolute.txt
JobSchedulerTests/bin/Debug/TestResult.xml
JobScheduler/obj/Debug/BackgroundScheduling.csproj.FileListAbsolute.txt
BackgroundScheduling.sln.docstates.suo
JobScheduler/obj/Debug/JobScheduler.csproj.FileListAbsolute.txt
JobSchedulerTests/bin/Debug/JobSchedulerTests.dll.VisualState.xml